 :root {
	--color-back : #111116;
	--color-border : black;
	--color-prime : hsl(340,100%,54%);
	--color-prime20 : hsl(340,100%,20%);
	--color-prime10 : hsl(340,100%,10%);
	--color-prime5 : hsl(340,100%,5%);
	--color-text : rgba(255,255,255,0.8);
	--color-subtext : rgba(255,255,255,0.5);
	--color-transparent : rgba(255,255,255,0);

} 
 
* {
 font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
 font-weight:200;
 box-sizing:border-box;

}

*::-webkit-scrollbar {
    width: 0.2em;
    background: var(--color-prime10);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-prime);
  outline: var(--color-back);
}

.blind{
	display:none!important;
}

.hide{
	display:none;
}


body,  p,h1,h2,h3,h4,h5,h6, header, content, footer, aside, section  {
  padding:0px;
  margin:0px;
}

body,html{
	width:100%;
	height:100%;
	color:var(--color-text);
	background:var(--color-back);/*  */
}

button{
	border-radius:0;
	border:none;
}

input:focus, textarea:focus{
	outline:none;
}
.inp{
	color:var(--color-prime);
	padding-top: 0.6em;
    padding-bottom: 0.3em;
	background:linear-gradient(to bottom,
		var(--color-transparent) 96%,
		var(--color-prime) 4%),
	linear-gradient(135deg,
		var(--color-transparent) 98%,
		var(--color-prime) 2%);
	background-position-x:-300px;
	background-repeat:no-repeat;
	border:none;
	border-bottom:var(--color-prime) solid 1px;
	transition:all 0.5s;
}

.inp::placeholder{
	transition:all 0.2s;
	font-size:1em;
}

.inp:focus::placeholder{
	transform:translate(0%,-100%);
	font-size:0.4em;
	color:var(--color-prime);
}

.inp:focus{
	background-position:0 0;
	outline:none;
	color:var(--color-text);

}

.area_icon:hover{
	cursor: pointer;
}

button{
	border: 2px solid var(--color-prime);
    background: none;
    color: var(--color-prime);
    transition: color 0.5s;
    transition: background 0.5s;
}

button:hover{
    color: #111110;
    background: var(--color-prime);
    font-weight:bold;
}

hr{
	border-color:var(--color-prime);
	width:10%;
}

.flow{
	position:absolute;
	top:0%;
	left:0%;
}

.prime{
	background:var(--color-prime)!important;
}
.text_prime{
	color:var(--color-prime);
}

.area_listing{
	list-style-type:none;
	padding:0px;
	margin:0px;
}

.area_icon{
	vertical-align:bottom;
	display:inline-block;
}



.hidden{
	visibility:hidden;
}

.blind_width{
	width:0%!important;
}

.inp_div::before {
	content:"|";
	opacity:0.5;
	font-size:0.5em;
}

.clearfix::before{
	content:"　";
	display:table;

}

.innercenter{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.innerrowcenter{
	display:flex;
	align-items:center;
	justify-content:center;
}

.absolutecenter{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.fixedcenter{
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}



#wrap{
	height:100%;
	width:100%;
	display:flex;
	position:absolute;
	flex-direction:column;
	top:0%;
	left:0%;
	border:5px solid var(--color-prime5);
	padding:5px;
	overflow:hidden;
}

#header{
	padding:3px;
	width:100%;
	border-bottom: 2px dashed var(--color-prime);
    margin-bottom: -4px;
    transform: translateY(-5px);
    index:4;
}
#header h1{
	text-align:center;
	text-size:0.2em;
	
}

#mainWrap{
	width:100%;
	height:100%;
	display:flex;
	overflow-x:hidden;
}

#mainWrap > *{
	height:100%;
	overflow:hidden;
}
