
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>BoardFrontController</servlet-name>
    <servlet-class>banip.servlet.BoardFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardFrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>QueryJSON</servlet-name>
  	<servlet-class>banip.servlet.QueryJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryJSON</servlet-name>
    <url-pattern>/board/queryJSON.servlet</url-pattern>
  </servlet-mapping>
</web-app>